html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: black;
  color: white;
}

:root {
  --blue-primary : #2E42F5;
  --blue-light: #4A70EE;
  --blue-dark: #2919E2;
}